@import "@web-cross-ui/utils/optional.scss";
@import "./forms/index.scss";

#root {
    min-height: 100%;
}

.webx {
    background: var(--background);
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'TT Commons', Arial;
}