@mixin centering() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blur-backdrop() {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@mixin blur-backdrop-disabled() {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}


@mixin vertical-list() {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(.x-sorter-disable-paddings) {
        > * {
            margin-bottom: $point * 2;
        }
    
        :last-child {
            margin-bottom: 0;
        }
    }
    
}

@mixin horizontal-list() {
    display: flex;
    flex-direction: row;
    position: relative;

    &:not(.x-sorter-disable-paddings) {
        > * {
            margin-right: $point * 2;
        }
        
        :last-child {
            margin-right: 0;
        }
    }
}
$point: 4px;
