@import "./optional.scss";
@import "./box-shadows.scss";
@import "../css/schema-colors.css"; // colors and schemas

#root {
    min-height: 100%;
}

.webx {
    $note-block-shadow: $box-shadow, $box-border;
    
    background: var(--background);
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'TT Commons', Arial;

    a {
        color: var(--x-button-icon);
        transition: 0.1s;
        text-decoration: none;
        
        &:link {
            opacity: 0.5;
        }

        &:visited {
            opacity: 0.25;
        }

        &:hover {
            opacity: 0.75;

        }

        &:active {
            opacity: 1
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        color: var(--color);
        padding: 0 $point * 2;
        font-weight: 600;
        box-sizing: border-box;
    }

    h1 {
        font-size: $point * 12;
    }
    
    p {
        box-sizing: border-box;
        font-size: 20px;
        padding: 0 $point * 2;
    }

    .x-block {
        @include box-shadow($note-block-shadow);
        
        border-radius: $point * 2;
        padding: $point;
        background: var(--x-block-background);
        color: var(--color);
        box-sizing: border-box;

        .x-field {
            border-radius: $point !important;
        }
    }
    .button-block {
        box-sizing: border-box;
        padding: $point*2 0;
        
        .x-button {
            border-radius: 0;
            width: 100%;
            padding: 0 $point*4;
            .x-button-icon {
                padding-right: $point*2;
            }
            .x-button-title {
                text-align: left!important;
            }
        }
    }

    .x-dropdown {
        .x-check-box {
            width: 100%;
            margin: 0!important;
        }

        .x-check-box-title {
            text-align: left!important;
        }

        .x-button {
            width: 100%;
            margin: 0!important;
            box-shadow: none;
            --dropdown-icon-transition: 0.1s;
        }

        .x-button-title {
            text-align: left!important;
        }

        position: relative;

        .x-dropdown-children {
            --x-button-background: var(--x-button-header-bg, var(--x-button-background));
            --x-button-background-hover: var(--x-button-header-bg-hover, var(--x-button-background-hover));
            --x-button-text: var(--x-field-text);
            --x-button-icon: var(--x-field-icon);

            .x-button-dropdown-icon {
                --display: default!important;
            }

            &.visible .x-button {
                --dropdown-content-angle: 180deg!important;
            }
        }

        .x-dropdown-wrapper {
            position: absolute;
            z-index: 95;
            width: fit-content;

            -webkit-transition: 0.1s ease-in;
            -moz-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;

            opacity: 0;
            --dropdown-offset: 16px;
            pointer-events: none;

            &.visible {
                opacity: 1!important;
                --dropdown-offset: 8px!important;
                pointer-events: inherit!important;
            }
            
            .x-dropdown-content {
                $note-block-shadow: $box-shadow, $box-border;
                border-radius: $point * 2;
                padding: $point*2 0;
                background: var(--x-block-background);
                color: var(--color);
                width: fit-content;
                @include box-shadow($note-block-shadow);
                
                .x-button {
                    border-radius: 0;
                    width: 100%;
                    padding: 0 $point*4;
                    .x-button-icon {
                        padding-right: $point*2;
                    }
                    .x-button-title {
                        text-align: left!important;
                    }
                }
            }

            &.x-dropdown-pose-at-left-top {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                right: 100%;
                top: 0;
            }

            &.x-dropdown-pose-at-left-bottom {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                right: 100%;
                bottom: 0;

            }

            &.x-dropdown-pose-at-right-top {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                left: 100%;
                top: 0;
            }

            &.x-dropdown-pose-at-right-bottom {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                left: 100%;
                bottom: 0;

            }

            &.x-dropdown-pose-at-top-left {
                padding: var(--dropdown-offset) 0;
                bottom: 100%;
                left: 0;

            }

            &.x-dropdown-pose-at-top-right {
                padding: var(--dropdown-offset) 0;
                bottom: 100%;
                right: 0;

            }

            &.x-dropdown-pose-at-bottom-left {
                padding: var(--dropdown-offset) 0;
                top: 100%;
                left: 0;
            }

            &.x-dropdown-pose-at-bottom-right {
                padding: var(--dropdown-offset) 0;
                top: 100%;
                right: 0;
            }
        }
    }

    .x-dropdown-wrapper .x-button {
        box-shadow: none!Important;
    }

    .x-button {
        display: inline-flex;
        border-radius: $point;
        user-select: none;
        cursor: pointer;
        height: var(--x-button-height);
        padding: 0 $point*2;
        box-sizing: border-box;
        transition: 0.1s;

        &.transparent {
            .x-button-icon {
                color: var(--x-button-icon-transparent);
            }
            .x-button-title {
                color: var(--x-button-text-transparent);
            }
            background: var(--x-button-background-transparent);

            &:hover {
                .x-button-icon {
                    color: var(--x-button-icon-transparent-hover);
                }
                .x-button-title {
                    color: var(--x-button-text-transparent-hover);
                }
                background: var(--x-button-background-transparent-hover);
            }
        }

        &.usual {
            @include box-shadow($note-block-shadow);

            .x-button-icon {
                color: var(--x-button-icon-usual);
            }
            .x-button-title {
                color: var(--x-button-text-usual);
            }

            background: var(--x-button-background-usual);
            
            &:hover {
                .x-button-icon {
                    color: var(--x-button-icon-usual-hover);
                }

                .x-button-title {
                    color: var(--x-button-text-usual-hover);
                }

                background: var(--x-button-background-usual-hover);
            }
        }

        &.white {
            @include box-shadow($note-block-shadow);

            .x-button-icon {
                color: var(--x-button-icon-white);
            }

            .x-button-title {
                color: var(--x-button-text-white);
            }

            background: var(--x-button-background-white);
            
            &:hover {
                .x-button-icon {
                    color: var(--x-button-icon-white-hover);
                }

                .x-button-title {
                    color: var(--x-button-text-white-hover);
                }

                background: var(--x-button-background-white-hover);
            }
        }

        .x-button-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--x-button-height) - $point * 4);
            height: var(--x-button-height);
            color: var(--x-button-icon);
        }

        .x-button-title {
            text-align: center;
            flex: 1 1 auto;
            width: max-content;
            padding-top: $point * 2;
            padding-bottom: $point * 2;
            font-size: 20px;
            color: var(--x-button-text);

            &:first-child {
                padding-left: $point * 2;
            }

            &:last-child {
                padding-right: $point * 2;
            }
        }

        .x-button-element {
            margin-left: $point;
            margin-right: $point;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        
        .x-button-dropdown-icon {
            color: var(--x-button-text);
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--x-button-height) - 2 * $point);
            height: var(--x-button-height);
            transform: rotate(var(--dropdown-content-angle, 0deg));
            transition: var(--dropdown-icon-transition, 0s);

            --display: none;

            &.visible {
                --display: default;
            }

            svg {
                display: var(--display, none);
            }
        }
    }

    .x-check-box {
        display: flex;
        align-items: center;
        border-radius: $point;
        user-select: none;
        cursor: pointer;
        height: var(--x-button-height);
        padding: $point;
        box-sizing: border-box;
        transition: 0.1s;
        --x-check-box-icon: var(--x-button-background-hover);
        --x-check-box-text: var(--color);

        .x-check-box-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            width: calc(var(--x-button-height) - $point * 4);
            height: calc(var(--x-button-height) - $point * 4);
            border: 2px solid var(--x-field-icon);
            color: var(--x-field-icon);
            padding: $point;
            border-radius: $point;
        }

        &:not(.marked) .x-check-box-icon svg {
            display: none;
        }

        .x-check-box-title {
            text-align: center;
            flex: 1 1 auto;
            width: max-content;
            padding-top: $point * 2;
            padding-bottom: $point * 2;
            font-size: 20px;
            color: var(--color);

            &:first-child {
                padding-left: $point * 2;
            }

            &:last-child {
                padding-right: $point * 2;
            }
        }

        .x-check-box-element {
            margin-left: $point;
            margin-right: $point;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .x-field {
        font-size: 20px;

        background: var(--x-field-background);
        color: var(--x-field-text);

        box-sizing: border-box;
        box-shadow: $box-border;
        border-radius: $point*2;
        
        --x-field-icon-height: var(--x-button-height);
        --x-field-icon-width: var(--x-field-icon-height);
        --x-field-clear-width: var(--x-field-icon-height);
        height: var(--x-field-icon-height);

        display: grid;

        &.with-icon {
            grid-template-columns: var(--x-field-icon-width) calc(100% - var(--x-field-icon-width)*2); //  var(--x-field-icon-width)
        }

        &:not(.with-icon) {
            grid-template-columns: 1fr;
        }

        transition: 0.05s;
        overflow: hidden;

        &.max-list {
            flex: 1 1 auto;
        }

        .x-field-wrap {
            display: flex;
            max-width: 100%;
            box-sizing: border-box;
        }

        .x-field-icon {
            width: var(--x-field-icon-width)!important;
            height: var(--x-field-icon-height)!important;
            color: var(--x-field-icon);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .x-field-clear {
            width: var(--x-field-icon-width)!important;
            height: var(--x-field-icon-height)!important;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .x-field-value-wrap {
            padding-top: 7px;
            padding-left: 4px;
        }
        
        &:not(.blocked) {
            cursor: text;

            .x-field-input {
                &[contenteditable=true]:empty:before{
                    pointer-events: none;
                }
            }
        }

        &.blocked {
            cursor: grab;

            .x-field-input {
                opacity: 0.5;
            }
        }

        .x-field-input {
            outline: none;
            border: none;
            font-family: inherit!important;
            font-size: inherit!important;
            background: none!important;
            color: var(--x-field-text)!important;
            height: calc(var(--x-field-icon-height) - 2)!important;
            padding: 1 $point;
            flex: 1 1 auto;
            box-sizing: border-box;

            &::placeholder {
                color: var(--x-field-text)!important;
                opacity: 0.5;
                user-select: none;
            }
            
            &:first-child {
                padding-left: $point*2;
            }

            &:last-child {
                padding-right: $point*2;
            }
        }

        &.no-wrap .x-field-input {
            white-space: nowrap;
        }
    }
    
    .x-slider {
        $note-block-shadow: $box-shadow, $box-border;

        @include box-shadow($note-block-shadow);

        display: flex;
        height: var(--x-button-height);
        $thumb-size: calc(var(--x-button-height) - 2 * $point);
        background: var(--x-field-background);
        border-radius: $point;
        user-select: none;
        cursor: pointer;

        .x-slider-input {
            flex: 1 1 auto;
            height: 100%;
            box-sizing: border-box;
            padding: 0 $point;
            @include centering();

            input {
                box-sizing: border-box;
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: $point * 0.8;
                border-radius: $point;
                background: var(--x-field-text);
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;

                &:hover {
                    opacity: 1;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: $point * 2;
                    height: $point * 2;
                    border-radius: $point * 3;
                    background: var(--x-field-icon);
                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    width: $point * 3;
                    height: $point * 3;
                    border-radius: $point * 3;
                    background: var(--x-field-icon);
                    cursor: pointer;
                }
            }
        }

        .x-slider-output {
            @include centering();
            padding: $point;
            width: var(--x-button-height);
            height: $thumb-size;
            color: var(--x-field-text);
            font-weight: 500;
            font-size: $point * 3;
            padding-left: 0;
            padding-top: calc(var(--padding) / 2 + 2px);
            padding-bottom: calc(var(--padding) / 2);
        }

        .x-slider-currency {
            width: var(--x-button-height);
            height: $thumb-size;
            color: var(--x-field-text);
            font-weight: 500;
            font-size: 18px;
            padding: var(--padding) var(--padding) var(--padding) 0;
        }
    }

    .x-menu {
        border-radius: 12px;
        height: 36px;
        
        font-size: 20px;
        font-weight: 500;
        user-select: none;
        padding-bottom: calc($point / 2);
        
        .x-menu-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .x-menu-item {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--x-field-background);
            color: var(--x-menu-text);

            flex: 1 1 auto;

            min-height: 32px;
            border-radius: 4px;
            padding: 0 $point*3;
            min-width: 64px;
            box-sizing: border-box;
            box-shadow: $box-border;

            transition: 0.1s;

            &:not(:last-child) {
                margin-right: 4px;
            }

            &:not(.x-menu-selected) {
                cursor: pointer;
                background: none;
                
            }

            &.svg {
                color: var(--x-field-icon);
                svg {
                    display: inline;
                    transform: translateY(-1px);
                }
            }
        }
    }

    .x-tumbler {
        position: relative;
        user-select: none;
        $note-block-shadow: $box-shadow, $box-border;
        background: var(--background);

        @include box-shadow($box-border);
        padding: $point;
        width: $point*12;
        height: $point*6;
        border-radius: $point*4;
        margin: $point * 1;
        box-sizing: border-box;
        overflow: hidden;

        div {
            @include box-shadow($note-block-shadow);
            background: var(--x-block-background);
            background: var(--color);

            transition: 0.1s;
            display: block;
            width: $point*4;
            height: $point*4;
            border-radius: $point*2;
            margin-left: 0px;
        }

        &.triggered {
            background: var(--x-button-background-usual);
            div {
                margin-left: $point * 6;
            }
        }
    }
    
    .mount-block {
        transition: 0.1s;
        flex: 1 1 auto;
        pointer-events: none;
        opacity: 0;
        transform: translateX(-24px);

        &.visible {
            opacity: 1;
            transform: translateX(0px);
            pointer-events: inherit!important;
        }
    }

    .card-wrapper {
        position: absolute;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, 0);
        max-width: 640px;
        width: 100%;
        --bottom-offset: 0;
        --bottom-offset-invis: calc(var(var(--bottom-offset)) + 20vh);

        .card {
            width: 100%;
            color: var(--color);
            box-sizing: border-box;
            margin-top: 10vh;
            margin-bottom: 10vh;
            
            h1 {
                padding: 0;
            }
            p {
                padding: 0;
            }

            &.article {
                background-color: var(--x-block-background);
                $box-shadow: $box-border, $box-shadow;
                border-radius: $point * 2;
                padding: 0 $point $point * 3;
                min-height: 60vh;
                @include box-shadow($box-shadow);
                margin-top: 20vh;
                margin-bottom: 20vh;

                .card-close-wrapper {
                    position: sticky;
                    display: flex;
                    justify-content: right;
                    top: 0;
                    bottom: 0;
                    padding: $point * 8 $point * 6 0 $point * 6;

                    .card-close-button {
                        cursor: pointer;
                        $note-block-shadow: $box-shadow, $box-border;
                        @include box-shadow($note-block-shadow);
                        width: $point * 8;
                        height: $point * 8;
                        border-radius: $point * 4;
                        background-color: rgb(49, 49, 49);
                        color: var(--x-block-background);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        user-select: none;

                        svg {
                            fill: white;
                        }
                    }
                }
                .card-layout {
                    @media screen and (max-width: 425px) {
                        padding: 0 $point * 3 $point * 10;
                    }

                    @media screen and (min-width: 425px) and (max-width: 720px) {
                        padding: 0 $point * 3 $point * 10;
                    }

                    @media screen and (min-width: 720px) {
                        padding: 0 $point * 20 $point * 10;
                    }
                }
            }
            &.notify {
                margin-top: 30vh;
                min-height: 40vh;
                margin-bottom: 20vh;
                border-radius: $point * 2;
                padding: $point;
                background-color: var(--x-block-background);
                $box-shadow: $box-border, $box-shadow;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .card-close-wrapper {
                    display: none;
                }

                .card-layout {
                    @media screen and (max-width: 425px) {
                        padding: 0 $point * 3 $point * 3;
                    }

                    @media screen and (min-width: 425px) and (max-width: 720px) {
                        padding: 0 $point * 3 $point * 3;
                    }

                    @media screen and (min-width: 720px) {
                        padding: 0 $point * 11 $point * 3;
                    }
                }
            }
        }

        transition: 0.1s ease-in-out;

        &:not(.visible) {
            opacity: 0;
            pointer-events: none;

            .card {
                transform: translate(0, 5vh);
                transition: 0.5s;
            }
        }

        &.visible {
            opacity: 1;

            .card {
                transform: translate(0, var(--bottom-offset));
                transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            }
        }
    }
    
    .card-wrapper-bg {
        /* Тёмный фон позади карточки, чтобы ограничить действия пользователя во время работы с формой */
        position: fixed;
        top: 0;
        left: 0;
        
        transition: 0.1s;
        width: 100%;
        height: 100vh;
        transition: 0.1s ease-in-out;
        z-index: 99;

        &:not(.visible) {
            /* Карточка с формой смонтирована на макет, но ещё не показана */
            background-color: rgba(0, 0, 0, 0);
            pointer-events: none;
        }

        &.visible {
            /* Карточка на экране */
            background-color: rgba(0, 0, 0, 0.582);
            backdrop-filter: blur(12px);
        }
    }
}