.guide-card {
    $point: 4px;

    min-height: 30vh;
    font-size: 20px;

    input {
        background: #333!important;
    }
    .x-block.card-block {
        padding: 0;
        margin: 0;
    }
    .guide-card-content {
        margin: 0 auto;
        box-sizing: border-box;
        padding: $point*4 $point*6 $point*1!important;
        display: flex;
        min-height: 20vh;
    
        flex-direction: column;
    
        gap: $point*2;

        p {
            background: #333;
            margin-block-start: 0;
            margin-block-start: 0;
            margin-bottom: 0px;
            padding: 8px 12px;
            border-radius: 8px;
        }
    }

    .card-options {
        padding: $point*4 $point*6!important;
        .x-button {
            display: inline-block;
            padding: $point*1.5 $point*6;
        }
    }
}