.guide-card {
    $point: 4px;

    min-height: 30vh;
    font-size: 20px;

    .card-options {
        .webx-button {
            display: inline-block;
            padding: $point*1.5 $point*6;
        }
    }
}