@import "@web-cross-ui/forms/scss/optional.scss";

.webx {
    .settings-text {
        padding: 0 8px;
        padding: $point*2 0;
        font-size: 20px;
    }

    &.screen-device-mobile {
        .settings-wrapper {
            margin: $point*1 0;
            .settings-headline {
                margin-bottom: $point * 3;
            }
        }
        .settings-page {
            padding: $point*3 $point*4;
        }

        .options-grid-list {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.screen-device-tablet {
        .settings-wrapper {
            margin: $point*1 0;
            .settings-headline {
                margin-bottom: $point * 2;
            }
        }

        .settings-page {
            padding: $point*6 $point*8;
        }

        .options-grid-list {
            grid-template-columns: 2fr 1fr;
        }
    }

    &.screen-device-desktop {
        .settings-wrapper {
            margin: $point*1 0;
            .settings-headline {
                margin-bottom: $point * 2;
            }
        }
        .settings-page {
            padding: $point*8 $point*16;
        }

        .options-grid-list {
            grid-template-columns: 3fr 192px;
        }
    }

    .settings-menu {
        .x-block:not(:last-child) {
            margin-bottom: 8px;
        }

        .x-button-title {
            text-align: left!important;
            padding-left: 8px;
        }
    }

    .settings-headline {
        display: flex;
        align-items: flex-end;

        padding: $point;
        line-height: 32px;
        color: var(--color);
        font-weight: 600;
        font-size: 28px;
        box-sizing: border-box;

        .x-button {
            margin-right: $point * 2;
        }
    }

    .options-grid-list {
        display: grid;
        margin-bottom: $point;

        .options-grid-item {
            display: flex;
            font-size: 20px;
            margin: calc($point / 2) 0;
            .x-field {
                width: 100%;
            }
            &:nth-child(2n-1) {
                align-items: center;
                padding-right: $point;
            }
            &:nth-child(2n) {
                justify-content: right;
                align-items: flex-end;
            }
        }
    }

    .settings-menu {
        .settings-block {
            &.x-block {
                box-sizing: border-box;
                padding: $point*2 0;
        
                .x-button {
                    border-radius: 0;
                    width: 100%;
                    padding: 0 $point*4;
                    .x-button-icon {
                        padding-right: $point*2;
                    }
                    .x-button-title {
                        text-align: left!important;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: $point*2;
            }
            &.x-button {
                width: 100%;
            }
        }
    }

    .settings-page {
        .settings-block {
            &:not(:last-child) {
                margin-bottom: $point;
            }
            &.x-button {
                width: 100%;
            }
        }
    }
}