.webx {
    .header {
        position: sticky;
        top: 0px;

        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(32px);

        user-select: none;
        z-index: 100;

        width: 100%;
        height: 56px;

        .header-frame {
            display: flex;
            justify-content: space-between;
            max-width: 1280px;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0 12px;
        }

        .header-button {
            height: 56px;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: inherit;
             svg {
                transition: 0.1s;
            }
            .x-dropdown-content svg {
                opacity: 1!important;
            }
            .x-dropdown-children {
                height: 20px;
                display: flex;
                align-items: center;
            }

            &.second {
                cursor: pointer;
                svg {
                    opacity: 0.5;
                }
            }

            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }
}