.webx.color-schema-dark {
    --background: var(--cod-black);

    --x-block-background: var(--mine-shaft);
    --x-block-background-hover: var(--tundora);
    --x-block-border: #ffffff17;

    --color: var(--white);

    --search-background: var(--tundora);
    --search-color: var(--raven);


    --x-button-background-usual-hover: #2177e0;
    --x-button-icon-usual-hover: white;
    --x-button-text-usual-hover: white;

    --x-button-background-usual: #296fc5;
    --x-button-icon-usual: white;
    --x-button-text-usual: white;

    --x-button-background-transparent-hover: #ffffff15;
    --x-button-icon-transparent-hover: #2177e0;
    --x-button-text-transparent-hover: var(--color);

    --x-button-background-transparent: none;
    --x-button-icon-transparent: #296fc5;
    --x-button-text-transparent: var(--color);

    --x-button-background-white-hover: var(--tundora); 
    --x-button-icon-white-hover: #2177e0;
    --x-button-text-white-hover: var(--color);

    --x-button-background-white: var(--mine-shaft);
    --x-button-icon-white: #296fc5;
    --x-button-text-white: var(--color);

    --x-field-background-hover: var(--emperor);
    --x-field-background: var(--tundora);
    --x-field-icon: var(--jordie-blue);
    --x-field-text: var(--white);
    --x-tumbler-text: var(--white);

    --x-field-selected: var(--emperor);

    --x-menu-accent-color: var(--tuna);
    --x-menu-background: var(--less-less-less-dark);
    --x-menu-icon: var(--jordie-blue);
    --x-menu-text: var(--white);
}