.settings-card {
    $point: 4px;

    min-height: 30vh;
    font-size: 20px;

    h6 {
        margin: $point 0 $point*2;
        padding-left: 0!important;
    }
    .x-block.card-block {
        padding: 0;
        margin: 0;
    }
    .settings-card-content {
        margin: 0 auto 16px;
        box-sizing: border-box;
        padding: $point*5 $point*10 $point*2!important;
        display: flex;
        min-height: 20vh;
    
        flex-direction: column;
    
        gap: $point*2;
    }

    
    .options-grid-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-options {
        .webx-button {
            display: inline-block;
            padding: $point*1.5 $point*6;
        }
    }

    .settings-card-caching {
        display: flex;
        gap: 8px;
        .x-button {
            flex: 1 1 auto;
        }
    }
}