.error-form-card {
    $point: 4px;

    min-height: 30vh;
    font-size: 20px;


    p {
        padding: 0!important;
    }

    .card-options {
        .webx-button {
            display: inline-block;
            padding: $point*1.5 $point*6;
        }
    }
}