@import "@web-cross-ui/utils/optional.scss";
@import "../schema/index.scss";

.webx {
    &.screen-device-mobile {
        .add-product-form { 
            grid-template-columns: 1fr $point*6 1fr $point*8;
           
            input {
                &:first-child {
                    grid-column: 1 / span 4;
                }
            }

            .add-product-separator {
                grid-column: 2 / span 1;
            }
        }
    }

    .index {
        display: flex;

        flex-direction: column;

        max-width: 1024px;
        padding: 0 8px 8px 8px;
        min-height: 100vh;

        box-sizing: border-box;
        margin: 0 auto;

        .desktop {
            display: grid!important;
            gap: $point*2;
        }
    }

    .cart-calc-message {
        min-height: 30vh;
        font-size: 20px;

        h6 {
            margin: $point 0 $point*2;
            padding: 0 $point * 12;
        }
        label {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 50%;
                background: #333;
            }
        }
        
        .x-block {
            margin: 0 auto 16px;
            box-sizing: border-box;
            padding: $point*5 $point*10!important;
        }

        .x-button {
            display: flex;
            width: 256px;
            justify-content: center;
            margin: 0 auto 16px;
        }
        .options-grid-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    h6 {
        margin-top: 16px;
        padding: 0 $point * 4 1px $point * 4;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 500!important;
        color: #888;
        font-size: 16px;
        box-sizing: border-box;
        user-select: none;
    }

    input {
        height: $point*8;
        padding: 4px $point*2 4px $point*3;
        box-sizing: border-box;
        border: none;
        border-radius: $point*8;
        width: 100%;
        cursor: text;
        background: #222;
        font-size: 20px;
        font-family: inherit;
        outline: none;
    }
}