@import "../../../scss/stylesheet.scss";
@import "../../../scss/box-shadows.scss";

.webx {
    &.color-schema-dark {
        .footer {
            background: #000000;
            color: #FFFFFF;
        }
    }

    &.color-schema-light {
        .footer {
            background: #FFFFFF;
            color: #000000;
        }
    }

    &.color-schema-pink {
        .footer {
            background: #FFFFFF;
            color: #000000;
        }
    }

    &.color-schema-auto {
        .footer {
            @media screen and (prefers-color-scheme: dark) {
                background: #000000;
                color: #FFFFFF;
            }

            @media screen and (prefers-color-scheme: light) {
                background: #FFFFFF;
                color: #000000;
            }
        }
    }

    .footer {
        @include centering();
        @include box-shadow($box-border);

        position: sticky;
        bottom: 0;
        z-index: 98;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        border-radius: $point*2;

        .footer-content {
            width: 100%;
            min-height: $point * 7;
            padding: $point $point * 3;
            font-family: 'TT Commons';
            font-size: $point * 2;
            box-sizing: border-box;
            padding-bottom: 35px;
            p {
                padding: 0;
            }

            .footer-button {
                height: 26px;
                width: fit-content;
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}