.app-info-card {
    $point: 4px;

    min-height: 30vh;
    font-size: 20px;

    b {
        padding: 0!important;
    }
    h4 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 0!important;
        text-align: right;
    }

    .card-options {
        .webx-button {
            display: inline-block;
            padding: $point*1.5 $point*6;
        }
    }
}