@import "@web-cross-ui/utils/optional.scss";

.webx {
    &.screen-device-mobile {
        .in-total-block-wrap {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.screen-device-tablet {
        .desktop.calc {
            grid-template-columns: 2fr 1fr;
        }
        .in-total-block-wrap {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &.screen-device-desktop {
        .desktop.calc {
            grid-template-columns: 1fr 320px;
        }

        .in-total-block-wrap {
            grid-template-columns: 3fr 2fr;
        }
    }

    .cart-calc-headline {
        display: flex;
        align-items: flex-end;
        padding: $point $point*3;
        line-height: 32px;
        color: var(--color);
        font-weight: 600;
        font-size: 28px;
        box-sizing: border-box;
        width: 100%;
        margin: $point*1 auto $point*2 auto;
    }
    
    .in-total-block-wrap {
        display: grid;
        margin-bottom: $point*2;
        padding: $point*2 $point*4 $point*2 $point*4!important;

        &.field {
            grid-template-columns: 1fr 1fr!important;
            padding: $point*2 $point*2 $point*2 $point*4!important;
            p {
                display: flex;
                align-items: center;
            }
        }
            
        .total-class {
            display: flex;
            min-height: $point*8;
            box-sizing: border-box;
            user-select: none;
            font-size: 20px;

            p { 
                padding: $point*1.5 0 $point 0!important;
                margin: 0;
            }

            &:nth-child(2n) {
                justify-content: right;
                align-items: flex-end;
            }

            &.change-alert {
                p {
                    color: rgb(221, 19, 46)!important;
                    font-weight: 500;
                }
            }
        }
    }

    .desktop.calc {
        height: calc(100vh - 56px);
        .product-list {
            height: 100%;
            overflow-y: auto;
            padding-right: $point*2;

            .pin-block {
                top: 0px;
                position: sticky;
                padding-top: 16px;
                background: linear-gradient(0deg, transparent, #000);
                h1 {
                    margin-top: 0;
                }
                .x-text-field {
                    box-shadow: 0 4px 12px #00000055!important;
                }
            }
        }

        .add-product-form {
            grid-template-columns: 2fr 1fr 24px 1fr $point*8;
        }
        .product-item-edit {
            grid-template-columns: 1fr 24px 1fr $point*16;
            
            .x-text-field:nth-child(1) {
                grid-column: 1 / span 3;
            }
            
            .x-text-field:nth-child(3) {
                grid-column: 1 / span 1;
            }

            .x-text-field:nth-child(5) {
                grid-column: 3 / span 1;
            }
        }
    }
    
    .add-product-form {
        display: grid;
        gap: $point*2;
        padding-right: $point;
        margin-bottom: $point * 2;
        
            
        .x-button {
            background: none!important;
            box-shadow: none!important;
            opacity: 0.5;
            transition: 0.1s;
            &:hover{
                opacity: 1;
            }
        }

        .add-product-separator {
            display: flex;
            height: $point*10;
            justify-content: center;
            align-items: center;
        }
    }

    .add-product-status {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #333;
        border-radius: $point*2;
        padding: $point * 2 $point * 4;
        min-height: 40px;
        margin-bottom: $point * 2;
        font-family: 'TT Commons';
        font-size: 20px;
    }

    .product-not-found {
        margin: 0 auto 8px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        user-select: none;

        p {
            max-width: 512px;
            width: 100%;
            padding: 0 32px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 18px;
            color: var(--color);
        }
    }
    .product-wrap {
        padding-bottom: $point*2;

        .product-item {
            transition: 0.1s;
            display: flex;
            padding: $point*2;
            
            .dragging-button {
                cursor: grab;
                box-shadow: 0 0 0 1px var(--x-block-border);
                padding-bottom: 80px;
                background: none!important;
                pointer-events: none;
            }
    
            &.hidden {
                opacity: 0.5;
    
                &.removed {
                    opacity: 0;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 0;
                }
            }

            .product-item-action-menu {
                display: flex;
                .x-button:first-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .x-button:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
    
            .product-item-info {
                user-select: none;
                display: grid;
                flex: 1 1 auto;
                grid-template-columns: 1fr $point*16;
                gap: $point*2;
                padding-left: $point*2;
    
                .product-item-info-name {
                    height: $point*8;
                    display: flex;
                    align-items: flex-end;
                    font-weight: 600;
                    font-size: 24px;
                }
    
                .product-item-info-calculation {
                    grid-column: 1 / span 2;
                    height: $point*8;
                    display: flex;
                    align-items: flex-start;
                    font-size: 20px;
                }
            }
    
            .product-item-edit {
                display: grid;
                flex: 1 1 auto;
                grid-template-columns: $point*16 1fr 24px 1fr $point*16;
                gap: $point*2;

                .x-text-field:nth-child(1) {
                    grid-column: 1 / span 4;
                }
                
                .x-text-field:nth-child(3) {
                    grid-column: 1 / span 2;
                }

                .x-text-field:nth-child(5) {
                    grid-column: 4 / span 2;
                }
    
                .product-item-edit-first {
                    display: grid;
                    grid-template-columns: 1fr calc($point*8 * 2);
                    grid-column: 1 / span 3;
                    margin-bottom: $point*2;
    
                    .action-list {
                        display: flex;
    
                        .x-button {
                            width: $point*8;
                        }
                    }
    
                    .x-text-field {
                        margin-right: $point*1.5;
                    }
                }
    
                .x-separator {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
    
            .product-name {
                min-height: 40px;
                line-height: 28px;
                font-family: 'TT Commons';
                font-weight: 600;
                font-size: 28px;
                padding: 12px 8px 0px 8px;
                box-sizing: border-box;
            }
    
            .product-total-price {
                min-height: 40px;
                line-height: 20px;
                font-size: 20px;
                font-family: 'TT Commons';
                padding: 0px 8px 20px 8px;
                box-sizing: border-box;
            }
        }
    }
}