@import "@web-cross-ui/utils/optional.scss";

.webx {
    &.screen-device-mobile {
        .add-product-form { 
            grid-template-columns: 1fr $point*6 1fr $point*8;
           
            input {
                &:first-child {
                    grid-column: 1 / span 4;
                }
            }

            .add-product-separator {
                grid-column: 2 / span 1;
            }
        }

        .index {
            position: relative;
        }
        .output {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.screen-device-tablet {
        .calc {
            grid-template-columns: 2fr 1fr;
        }
        .output {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &.screen-device-desktop {
        .calc {
            grid-template-columns: 1fr 240px 4fr 292px 1fr;
            .catalogue {
                grid-column: 2 / span 1;
            }
        }

        .output {
            grid-template-columns: 3fr 2fr;
        }
    }

    .calc {
        height: calc(100vh - 56px);

        .cart {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            padding-right: $point*2
        }

        .add-product-form {
            grid-template-columns: 2fr 1fr 24px 1fr $point*6;
            padding-right: 0!important;
        }
    }

    .pin-block {
        top: 0px;
        position: sticky;
        padding: 16px $point * 3 0;
        background: linear-gradient(0deg, transparent, #000);
        margin-bottom: 12px;

        h6 {
            margin: 0 0 $point;
            padding: 0 $point * 3;
        }

        input {
            box-shadow: 0 4px 12px #00000055!important;
        }

        .add-product-form {
            display: grid;
            gap: $point * 2;
    
            label {
                cursor: pointer;
                input {
                    display: none;
                }
                svg {
                    height: 100%;
                }
            }
    
            .add-product-separator {
                display: flex;
                height: $point*8;
                justify-content: center;
                align-items: center;
            }
        }
    
        .add-product-status {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            
            min-height: 32px;
            border-radius: 32px;
            user-select: none;

            &.target {
                border: 2px dashed #222;
                color: #888;
            }
        
            &.finish {
                background: #333;
            }
        }
    }

    .sheet {
        flex: 1 1 auto;

        h6 {
            margin: $point 0;
            padding: 0 $point * 6;
        }
        
        .sheet-void {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 2px dashed #222;
            color: #888;
            border-radius: $point*2;
            margin-bottom: $point*2;
            user-select: none;
            p {
                width: 70%;
                height: 50%;
                font-size: 32px;
            }
        }

        .sheet-item {
            padding: $point*5 $point*6 $point*5 $point*1;
            margin-bottom: $point*2;
            display: flex;
             
            .drag-handle {
                display: flex;
                flex-direction: column;
                touch-action: none;
                cursor: move;
                margin: 0;
                padding: 0;
                width: 32px;
                border-radius: 4px;
                border: none;
                outline: none;
                appearance: none;
                background-color: transparent;
                -webkit-tap-highlight-color: transparent;
                margin-right: 8px;

                svg {
                    overflow: visible;
                    fill: #919eab;
                }
            }

            .sheet-item-actions {
                display: flex;
                height: 32px;
                margin-left: $point*2;

                .x-button {
                    &:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    &:last-child {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }

            .sheet-item-data {
                flex: 1 1 auto;

                .sheet-item-name {
                    max-width: 100%;
                    word-break: break-all;
                    user-select: none;
                    font-size: 32px;
                    font-weight: 600;
                }
                .sheet-item-calculation {
                    max-width: 100%;
                    user-select: none;
                    font-size: 20px;
                    nobr {
                        display: inline-block;
                    }
                }
            }

            form {
                flex: 1 1 auto;
            }
            
            .sheet-item-form {
                display: grid;
                grid-template-columns: 1fr 24px 1fr 1fr;
                gap: $point*2;
                .sheet-item-separator {
                    display: flex;
                    align-items: center;
                }
                .sheet-item-form-cost {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }
                input {
                    background: #333;
                    border-radius: $point;
                    
                    &:nth-child(1) {
                        grid-column: 1 / span 4;
                    }
                    
                    &:nth-child(2) {
                        grid-column: 1 / span 1;
                    }

                    &:nth-child(4) {
                        grid-column: 3 / span 1;
                    }
                }
            }
        }
    }

    .catalogue {
        h6 {
            margin: 16px 0 4px;
            padding: 0 12px;
        }
        input {
            background: #333;
        }
    }

    .results {
        h6 {
            margin: $point * 4 0 $point;
            padding: 0 $point * 3;
        }
            
        .output {
            display: grid;
            margin-bottom: $point*2;
            padding: $point*2 $point*4 $point*2 $point*4!important;

            .total-class {
                display: flex;
                min-height: $point*8;
                box-sizing: border-box;
                user-select: none;
                font-size: 20px;
    
                p { 
                    padding: $point*1.5 0 $point 0!important;
                    margin: 0;
                }
    
                &:nth-child(2n) {
                    justify-content: right;
                    align-items: flex-end;
                }
    
                &.change-alert {
                    p {
                        color: rgb(221, 19, 46)!important;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}