@import "./color-schemas/auto.css";
@import "./color-schemas/light.css";
@import "./color-schemas/dark.css";
@import "./color-schemas/pink.css";
@import "./root.css";

:root {
    --athens-gray: #edeef0;
    --azalea: #fadddd;
    --black: #000000;
    --bright-red: #b30000;
    --charade: #262630;
    --cod-black: #141414;
    --emperor: #515151;
    --fair-pink: #ffeaea;
    --gray: #979faa;
    --jordie-blue: #0077ff;
    --less-less-less-dark: #292929;
    --mine-shaft: #222222;
    --mystic: #e5ebf1;
    --opacity1: rgba(0,0,0,0.2);
    --opacity2: rgba(0,0,0,0.4);
    --raven: #757d88;
    --rose-white: #fff8f8;
    --san-marino: #296fc5;
    --san-marino2: #4285d6;
    --titan-white: #dee4ec;
    --tuna: #3a3a3F;
    --tundora: #424242;
    --tutu: #ffecec;
    --white: #ffffff;
    --your-pink: #ffc7c7;
    --zircon: #f5f6f8;

    --x-button-height: 40px;
    --border-radius: 16px;
    --padding: 16px;
}

.div-centerize {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
@media screen and (orientation: portrait) {
    .grid-template-field {
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .disable-on-vertical {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color);
}