@import "../../../scss/stylesheet.scss";
@import "../../../scss/box-shadows.scss";

.webx {
    .x-block {
        $note-block-shadow: $box-shadow, $box-border;
        border-radius: $point * 2;
        padding: $point;
        background: var(--card-background);
        color: var(--color);
        margin: 0 auto $point auto;
        max-width: $point * 80;
        box-sizing: border-box;
    }
}