@import "../../../../../scss/stylesheet.scss";

.webx {
    .form-grid {
        display: grid;
        height: fit-content;
        margin-bottom: $point * 3;

        .form-label {
            height: 40px;
        }
    }

    &.screen-device-mobile {        
        .form-grid {
            grid-template-columns: 1fr;
        }
        
        .form-label {
            &.disable-at-mobile {
                display: none;
            }
        }
    }

    &.screen-device-tablet {
        .form-grid {
            grid-template-columns: 1fr 1.5fr;
        }
        
        .form-label {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            height: 100%;
        }
    }
    
    &.screen-device-desktop {
        .form-grid {
            grid-template-columns: 1fr 2fr;
        }
        .form-label {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            height: 100%;
        }
    }
}