@import "../../../../../scss/stylesheet.scss";

.webx {
    .x-list-children .x-button {
        width: 100%;
    }
    &.screen-device-mobile {
        .x-list {
            @include vertical-list();
            .x-button .x-button-title {
                text-align: center;
            }
        }
    }
    &.screen-device-tablet {
        .x-list {
            @include horizontal-list();
        }
        
    }
    &.screen-device-desktop {
        .x-list {
            @include horizontal-list();
        }
    }
    .x-list {
        &:last-child {
            margin-bottom: 0;
        }
    }
}