.webx {
    min-height: 100vh;
    .total-class {
        padding: 0 8px;
        min-height: 24px;
        font-weight: 600;
        user-select: none;
    }
    .product-not-found {
        max-width: 640px;
        margin: 0 auto 8px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        user-select: none;
        p {
            max-width: 512px;
            width: 100%;
            padding: 0 32px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 18px;
            color: var(--color);
        }
    }
    .block-wrapper {
        padding: 20px 0;
    }
    .add-product-status {
        min-height: 20px;
        padding: 10px 0 7px 0;
        text-align: center;
        font-family: 'TT Commons';
        font-size: 20px;
    }
    .product-item {
        transition: 0.1s;
        &.hidden {
            opacity: 0.5;
            &.removed {
                opacity: 0;
                padding-top: 0px;
                padding-bottom: 0px;
                height: 0;
            }
        }
        &.editing {

        }
        .product-name {
            min-height: 40px;
            line-height: 28px;
            font-family: 'TT Commons';
            font-weight: 600;
            font-size: 28px;
            padding: 12px 8px 0px 8px;
            box-sizing: border-box;
        }
        .product-total-price {
            min-height: 40px;
            line-height: 20px;
            font-size: 20px;
            font-family: 'TT Commons';
            padding: 0px 8px 20px 8px;
            box-sizing: border-box;
        }
    }
}

.dynamic-div {
    -webkit-transition: max-height 0.1s; 
    -moz-transition: max-height 0.1s; 
    -ms-transition: max-height 0.1s; 
    -o-transition: max-height 0.1s; 
    transition: max-height 0.1s;  
    height: auto;
}