.webx {
    .credits {
        color: gray;
        width: 100%;
        max-width: 640px;
        padding: 24px;
        margin: auto;
        margin-bottom: 8px;
        user-select: none;
        box-sizing: border-box;
    }
    .total-class {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px 0 12px;
        height: 48px;
        font-weight: 600;
        user-select: none;
        div:first-child {
            font-size: 24px,
        }
        div:last-child {
            font-size: 32px,
        }
    }
    &.screen-device-mobile {
        .product-edit {
            margin-top: 8px;
        }
    }
    .product-edit {
        &.product {
            .xraw {
                flex: 1 1 auto;
                padding: 8px 0 8px 8px;
                margin-bottom: 0!important;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        > * {
            margin-right: 8px;
        }
        
        :last-child {
            margin-right: 0;
        }
    }
    .small {
        display: flex;
        justify-content: left;
        > * {
            margin-right: 4px;
        }
        
        :last-child {
            margin-right: 0;
        }
    }
    .product-name {
        font-family: 'TT Commons';
        font-weight: 600;
        font-size: 24px,
    }
    .product-descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'TT Commons';
        font-size: 18px;

        svg {
            width: 16px;
            height: 16px;
            margin-bottom: 4px;
        }
    }
    .product-not-found {
        max-width: 640px;
        margin: 0 auto 8px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            width: 60%;
            font-size: 20px;
            color: var(--color);
            margin: 8px 0;
        }
    }
}