@import "../../../../../scss/stylesheet.scss";
@import "../../../../../scss/box-shadows.scss";


.webx {
    .x-dropdown {
        position: relative;

        .x-button {
            box-shadow: none;
            --dropdown-icon-transition: 0.1s;
        }

        .x-dropdown-children {
            --x-button-background: var(--x-button-header-bg, var(--x-field-background));
            --x-button-background-hover: var(--x-button-header-bg-hover, var(--x-field-background-hover));
            --x-button-text: var(--x-field-text);
            --x-button-icon: var(--x-field-icon);
            .x-button-dropdown-icon {
                --display: default!important;
            }
            &.visible .x-button {
                --dropdown-content-angle: 180deg!important;
            }
        }

        
        .x-dropdown-wrapper {
            --x-button-background-hover: var(--x-menu-accent-color)!important;
            --x-button-text: var(--x-menu-text)!important;
            --x-button-icon: var(--x-menu-icon)!important;
            --x-button-background: rgba(0,0,0,0)!important;

            .x-dropdown-children {
            --x-button-background-hover: var(--x-menu-accent-color)!important;
            --x-button-text: var(--x-menu-text)!important;
            --x-button-icon: var(--x-menu-icon)!important;
            --x-button-background: rgba(0,0,0,0)!important;
            }
            --dropdown-offset: 0;
            position: absolute;
            z-index: 95;
            transition: 0.1s ease-in-out;

            &.visible {
                opacity: 1;
                --dropdown-offset: 16px;
            }
            &.invisible {
                opacity: 0;
                --dropdown-offset: 0;
            }
            
            .x-dropdown-content {
                $note-block-shadow: $box-shadow, $box-border;
                border-radius: $point * 2;
                padding: $point;
                background: var(--x-menu-background);
                color: var(--color);
                @include box-shadow($note-block-shadow);
            }

            &.x-dropdown-pose-at-left-top {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                right: 100%;
                top: 0;
            }
            &.x-dropdown-pose-at-left-bottom {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                right: 100%;
                bottom: 0;

            }
            &.x-dropdown-pose-at-right-top {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                left: 100%;
                top: 0;
            }
            &.x-dropdown-pose-at-right-bottom {
                padding: 0 var(--dropdown-offset);
                padding-bottom: var(--dropdown-offset);
                left: 100%;
                bottom: 0;

            }
            &.x-dropdown-pose-at-top-left {
                padding: var(--dropdown-offset) 0;
                bottom: 100%;
                left: 0;

            }
            &.x-dropdown-pose-at-top-right {
                padding: var(--dropdown-offset) 0;
                bottom: 100%;
                right: 0;

            }
            &.x-dropdown-pose-at-bottom-left {
                padding: var(--dropdown-offset) 0;
                top: 100%;
                left: 0;
            }
            &.x-dropdown-pose-at-bottom-right {
                padding: var(--dropdown-offset) 0;
                top: 100%;
                right: 0;
            }
        }
    }
    
    .x-list .x-dropdown {
        margin-bottom: 0;
    }
}