@import "../../../scss/stylesheet.scss";
@import "../../../scss/box-shadows.scss";

.webx {
    .form-card-wrapper {
        position: absolute;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, 0);
        max-width: 640px;
        width: 100%;
        --bottom-offset: 0;
        --bottom-offset-invis: calc(var(var(--bottom-offset)) + 20vh);
        .form-card {
            $box-shadow: $box-border, $box-shadow;
            @include box-shadow($box-shadow);

            width: 100%;
            background-color: var(--card-background);
            color: var(--color);
            min-height: 60vh;
            border-radius: $point * 2;
            box-sizing: border-box;
            padding: 0 $point $point * 3;
            margin-top: 20vh;
            margin-bottom: 20vh;
            transition: 0.1s ease-in-out;
        }

        transition: 0.1s ease-in-out;
        &.invisible {
            opacity: 0;
            .form-card {
                transform: translate(0, 5vh);
            }
        }
        &.visible {
            opacity: 1;
            .form-card {
                transform: translate(0, var(--bottom-offset));
            }
        }
        .form-card-close-wrapper {
            position: sticky;
            display: flex;
            justify-content: right;
            top: 0;
            bottom: 0;
            padding: $point * 4 $point * 3 0 $point * 3;
            .form-card-close-button {
                cursor: pointer;
                @include box-shadow($box-shadow);
                width: $point * 4;
                height: $point * 4;
                border-radius: $point * 4;
                background-color: gray;
                color: var(--card-background);
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
            }
        }
        .form-card-layout {
            @media screen and (max-width: 425px) {
                padding: 0 $point * 3 $point * 3;
            }
            @media screen and (min-width: 425px) and (max-width: 720px) {
                padding: 0 $point * 3 $point * 3;
            }
            @media screen and (min-width: 720px) {
                padding: 0 $point * 11 $point * 3;
            }
        }
    }
}