@media screen and (prefers-color-scheme: dark) {
    .webx.color-schema-auto {
        --background: var(--cod-black);

        --card-background: var(--mine-shaft);
        --card-hover-background: var(--charade);

        --color: var(--white);

        --search-background: var(--tundora);
        --search-color: var(--raven);

        --x-button-background-hover: var(--emperor);
        --x-button-background: var(--tundora);
        --x-button-icon: var(--jordie-blue);
        --x-button-text: var(--white);

        --x-field-background-hover: var(--emperor);
        --x-field-background: var(--tundora);
        --x-field-icon: var(--jordie-blue);
        --x-field-text: var(--white);

        --x-field-selected: var(--emperor);

        --x-menu-accent-color: var(--tuna);
        --x-menu-background: var(--less-less-less-dark);
        --x-menu-icon: var(--jordie-blue);
        --x-menu-text: var(--white);
    }
}
@media screen and (prefers-color-scheme: light) {
    .webx.color-schema-auto {
        --background: var(--athens-gray);

        --card-background: var(--white);
        --card-hover-background: var(--zircon);

        --color: var(--black);

        --search-background: var(--athens-gray);
        --search-color: var(--gray);

        --x-button-background-hover: var(--titan-white);
        --x-button-background: var(--mystic);
        --x-button-icon: var(--san-marino);
        --x-button-text: var(--san-marino);

        --x-field-background-hover: var(--titan-white);
        --x-field-background: var(--mystic);
        --x-field-icon: var(--san-marino);
        --x-field-text: var(--san-marino);

        --x-field-selected: var(--titan-white);

        --x-menu-accent-color: var(--zircon);
        --x-menu-background: var(--white);
        --x-menu-icon: var(--san-marino);
        --x-menu-text: var(--color);
    }
}