.webx.color-schema-pink {
    --background: var(--your-pink);

    --card-background: var(--white);
    --card-hover-background: var(--tutu);

    --color: var(--bright-red);

    --search-background: var(--tutu);
    --search-color: var(--bright-red);

    --x-button-background-hover: var(--your-pink);
    --x-button-background: var(--tutu);
    --x-button-icon: var(--color);
    --x-button-text: var(--color);

    --x-field-background-hover: var(--your-pink);
    --x-field-background: var(--tutu);
    --x-field-icon: var(--color);
    --x-field-text: var(--color);

    --x-menu-accent-color: var(--fair-pink);
    --x-menu-background: var(--rose-white);
    --x-menu-icon: var(--color);
    --x-menu-text: var(--color);
}