@import "@web-cross-ui/utils/box-shadows.scss";

.webx {
    $note-block-shadow: $box-shadow, $box-border;
    
    .x-button {
        display: grid;
        gap: $point*2;

        border-radius: $point;
        min-height: var(--x-button-height);
        box-sizing: border-box;
        padding: 0 $point*2;

        cursor: pointer;
        user-select: none;
        
        // component elements

        .x-button-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;
            height: var(--x-button-height);

            color: var(--x-button-icon);
        }

        .x-button-title {
            width: max-content;

            padding-top: $point * 2;
            padding-bottom: $point * 2;

            font-size: 20px;
            color: var(--x-button-text);
            text-align: left;
        }
        
        .x-button-dropdown-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: calc(var(--x-button-height) - 2 * $point);
            height: var(--x-button-height);

            color: var(--x-button-text);
            transform: rotate(var(--dropdown-content-angle, 0deg));
            transition: var(--dropdown-icon-transition, 0s);
        }

        // grid templates

        &:not(.with-icon) {
            &:not(.with-title) {
                &:not(.at-dropdown) {
                    grid-template-columns: 1fr;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px;
                    padding: 0 $point*1.5!important;
                }
            }
            
            &.with-title {
                &:not(.at-dropdown) {
                    grid-template-columns: 1fr;
                }
                
                &.at-dropdown {
                    grid-template-columns: 1fr 24px;
                }
            }
        }

        &.with-icon {
            &:not(.with-title) {
                &:not(.at-dropdown) {
                    grid-template-columns: 24px;
                    padding: 0 $point*1.5!important;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px 24px;
                }
            }
            
            &.with-title {
                &:not(.at-dropdown) {
                    grid-template-columns: 24px 1fr;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px 1fr 24px;
                }
            }
        }

        // themes

        &.theme-transparent {
            background: var(--x-button-background-transparent);

            .x-button-icon {
                color: var(--x-button-icon-transparent);
            }

            .x-button-title {
                color: var(--x-button-text-transparent);
            }
            
            &:hover {
                background: var(--x-button-background-transparent-hover);

                .x-button-icon {
                    color: var(--x-button-icon-transparent-hover);
                }
                
                .x-button-title {
                    color: var(--x-button-text-transparent-hover);
                }
            }
        }

        &.theme-usual {
            @include box-shadow($note-block-shadow);
            background: var(--x-button-background-usual);

            .x-button-icon {
                color: var(--x-button-icon-usual);
            }

            .x-button-title {
                color: var(--x-button-text-usual);
            }
            
            &:hover {
                background: var(--x-button-background-usual-hover);

                .x-button-icon {
                    color: var(--x-button-icon-usual-hover);
                }

                .x-button-title {
                    color: var(--x-button-text-usual-hover);
                }
            }
        }

        &.theme-white {
            @include box-shadow($note-block-shadow);
            background: var(--x-button-background-white);

            .x-button-icon {
                color: var(--x-button-icon-white);
            }

            .x-button-title {
                color: var(--x-button-text-white);
            }
            
            &:hover {
                background: var(--x-button-background-white-hover);

                .x-button-icon {
                    color: var(--x-button-icon-white-hover);
                }

                .x-button-title {
                    color: var(--x-button-text-white-hover);
                }
            }
        }
    }
}