.webx {
    .x-field {
        // ПЕРЕДЕЛАТЬ!
        font-size: 20px;

        background: var(--x-field-background);
        color: var(--x-field-text);

        box-sizing: border-box;
        border-radius: $point*2;
        
        --x-field-icon-height: var(--x-button-height);
        --x-field-icon-width: var(--x-field-icon-height);
        --x-field-clear-width: var(--x-field-icon-height);

        display: flex;
        align-items:flex-start;

        transition: 0.05s;
        overflow: hidden;

        &:hover {
            background: var(--x-field-background-hover);
        }

        &.max-list {
            flex: 1 1 auto;
        }

        .x-field-wrap {
            display: flex;
            max-width: 100%;
            box-sizing: border-box;
        }

        .x-field-icon {
            width: var(--x-field-icon-width);
            height: var(--x-field-icon-height);
            color: var(--x-field-icon);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .x-field-clear {
            width: var(--x-field-icon-width);
            height: var(--x-field-icon-height);

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .x-field-value-wrap {
            padding-top: 2px;
            padding-left: 4px;
        }
        
        &:not(.blocked) {
            cursor: text;

            .x-field-input {
                &[contenteditable=true]:empty:before{
                    pointer-events: none;
                }
            }
        }
        &.blocked {
            cursor: grab;

            .x-field-input {
                opacity: 0.5;
            }
        }

        .x-field-input {
            width: 100%;
            outline: none;
            padding-top: 1px + $point * 1.5;
            overflow: hidden;
            padding-left: $point * 2;
            padding-right: $point * 2;

            &[contenteditable=true]:empty:before{
                content: attr(data-placeholder);
                display: block; /* For Firefox */
                opacity: 0.5;
                text-transform: lowercase;
            }
        }

        &.clearable {
            .x-field-input {
                max-width: calc(100% - var(--x-field-icon-width) - var(--x-field-clear-width) - $point * 4);
            }
        }

        &:not(.clearable) {
            .x-field-input {
                max-width: calc(100% - var(--x-field-icon-width) - $point * 4);
            }
        }

        &.no-wrap .x-field-input {
            white-space: nowrap;
        }
    }
}