.webx {
    .x-slider {
        $note-block-shadow: $box-shadow, $box-border;

        @include box-shadow($note-block-shadow);

        display: flex;
        height: var(--x-button-height);
        $thumb-size: calc(var(--x-button-height) - 2 * $point);
        background: var(--x-field-background);
        border-radius: $point;
        user-select: none;
        cursor: pointer;

        .x-slider-input {
            flex: 1 1 auto;
            height: 100%;
            box-sizing: border-box;
            padding: 0 $point;

            input {
                box-sizing: border-box;
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: $point * 0.8;
                border-radius: $point;
                background: var(--x-field-text);
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;

                &:hover {
                    opacity: 1;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: $point * 2;
                    height: $point * 2;
                    border-radius: $point * 3;
                    background: var(--x-field-icon);
                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    width: $point * 3;
                    height: $point * 3;
                    border-radius: $point * 3;
                    background: var(--x-field-icon);
                    cursor: pointer;
                }
            }
        }

        .x-slider-output {
            padding: $point;
            width: var(--x-button-height);
            height: $thumb-size;
            color: var(--x-field-text);
            font-weight: 500;
            font-size: $point * 3;
            padding-left: 0;
            padding-top: calc(var(--padding) / 2 + 2px);
            padding-bottom: calc(var(--padding) / 2);
        }

        .x-slider-currency {
            width: var(--x-button-height);
            height: $thumb-size;
            color: var(--x-field-text);
            font-weight: 500;
            font-size: 18px;
            padding: var(--padding) var(--padding) var(--padding) 0;
        }
    }
}